<div #gridElement class="lock-screen" id="gridElement">

  <div *ngIf="initialised" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
    <pan-zoom [config]="panzoomConfig">
      <div class="bg noselect items" style="position: relative;" [style.width.px]="2400">
        <tile *ngFor="let item of contentItems" [content]="item"></tile>
      </div>
    </pan-zoom>
  </div>

  <div class="noselect" style="position: absolute; top: 20px; height: 230px; left: 10px; padding: 5px; background-color: rgba(0,0,0,0.8); font-size: 12px; border-radius:10px; width: 200px;">

    <!-- top buttons -->
    <div style="position: absolute; top: 10px">
      <div style="position: absolute; left: 0px;" toggleFullscreen class="icon fa fa-desktop fa-2x fa-fw"></div>
      <div style="position: absolute; left: 40px;" (click)="resetView()" class="icon fa fa-home fa-2x fa-fw"></div>
      <div style="position: absolute; left: 80px;" (click)="zoomOut()" class="icon fa fa-search-minus fa-2x fa-fw"></div>
      <div style="position: absolute; left: 120px;" (click)="zoomIn()" class="icon fa fa-search-plus fa-2x fa-fw"></div>
      <div style="position: absolute; left: 160px;" (click)="panToPoint()" class="icon fa fa-bullseye fa-2x fa-fw"></div>
    </div>

    <!-- panDelta() buttons -->
    <div style="position: absolute; top: 60px; left: 30px;">
      <div style="position: absolute; left: 5px; top: 0; color: red; width: 100px;" (click)="panUp100()">100px</div>
      <div style="position: absolute; left: 80px; color: red; width: 100px;" (click)="panUp100()">panDelta()</div>

      <div style="position: absolute; left: 40px;" (click)="panUp100()" class="icon fa fa-arrow-up fa-2x fa-fw"></div>
      <div style="position: absolute; left: 40px; top: 40px" (click)="panDown100()" class="icon fa fa-arrow-down fa-2x fa-fw"></div>
      <div style="position: absolute; left: 0; top: 20px" (click)="panLeft100()" class="icon fa fa-arrow-left fa-2x fa-fw"></div>
      <div style="position: absolute; left: 80px; top: 20px" (click)="panRight100()" class="icon fa fa-arrow-right fa-2x fa-fw"></div>

    </div>

    <!-- panDeltaPercent() buttons -->
    <div style="position: absolute; top: 160px; left: 30px;">
      <div style="position: absolute; left: 15px; top: 0; color: red; width: 100px;" (click)="panUp100()">20%</div>
      <div style="position: absolute; left: 80px; color: red; width: 100px;" (click)="panUp100()">panDeltaPercent()</div>


      <div style="position: absolute; left: 40px;" (click)="panUpPercent()" class="icon fa fa-arrow-up fa-2x fa-fw"></div>
      <div style="position: absolute; left: 40px; top: 40px" (click)="panDownPercent()" class="icon fa fa-arrow-down fa-2x fa-fw"></div>
      <div style="position: absolute; left: 0; top: 20px" (click)="panLeftPercent()" class="icon fa fa-arrow-left fa-2x fa-fw"></div>
      <div style="position: absolute; left: 80px; top: 20px" (click)="panRightPercent()" class="icon fa fa-arrow-right fa-2x fa-fw"></div>

    </div>

  </div>

  <div *ngIf="panzoomModel" class="noselect" style="position: absolute; bottom: 10px; left: 10px; width: 200px; padding: 5px; background-color: rgba(255,255,255,0.9); font-size: 12px; border-radius:10px;">
    <span style="font-weight: bold;">PanZoomModel</span>
    <div>
      pan.x: {{panzoomModel.pan.x}}<br>
      pan.y: {{panzoomModel.pan.y}}<br>
      zoomLevel: {{panzoomModel.zoomLevel}}<br>
      isPanning: {{panzoomModel.isPanning}}<br>
      ---------------------------<br>
      calculated scale: {{scale}}
    </div>
  </div>

<div>