/* You can add global styles to this file, and also import other style files */
@import 'font-awesome/css/font-awesome.min.css';

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

:-webkit-full-screen, -moz-full-screen, fullscreen {
  background-color: black;
}